@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

h1, p {
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 52px;
  line-height: 1.12;
}

p {
  font-size: 16px;
  line-height: 1.56;
}
